<!DOCTYPE html>
<html>
    <head>
        <title>게시글 목록</title>
    </head>
    <body>
        <h1>게시글 목록</h1>

        <% posts.forEach(post => { %>
            <div>
                <h2><%= post.title %></h2>
                <p><%= post.username %></p>
                <p><%= post.content %></p>
            </div>
            <hr>
        <% }); %>

        <a href="/">글쓰기로 돌아가기</a>
    </body>
</html>