<!DOCTYPE html>
<html>
    <body>
        <h1>게시글 작성</h1>
        <form method="POST" action="/posts/write">
            <input name="title" placeholder="제목" required/>
            <textarea name="content" placeholder="내용" required></textarea>
            <button type="submit">저장</button>
        </form>
    </body>
</html>